<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  
  <body>
    
    <header class="container">
      <h1>Information Security Project: Issue Tracker</h1>
    </header>
    
    <main class="container">
      <h2>User Stories:</h2>
      <ol class="user-stories">
        <li>Prevent <code>cross site scripting</code> (XSS attack).</li>
        <li>I can <strong>POST</strong> <code>/api/issues/{project}</code> with form data containing required <code>issue_title</code>, <code>issue_text</code>, <code>created_by</code>, and optional <code>assigned_to</code> and <code>status_text</code>.</li>
        <li>The object saved (and returned) will include all of those fields (<code>blank</code> for optional no input) and also include <code>created_on</code> (date/time), <code>updated_on</code> (date/time), <code>open</code> (boolean, true for open, false for closed), and <code>_id</code>.</li>
        <li>I can <strong>PUT</strong> <code>/api/issues/{project}</code> with an <code>_id</code> and form data to update the object. Returned will be <code>'successfully updated'</code> or <code>'could not update '+_id</code>. This should always update <code>updated_on</code>. If no fields are sent return <code>'no updated field sent'</code>.</li>
        <li>I can <strong>DELETE</strong> <code>/api/issues/{project}</code> with an <code>_id</code> to completely delete an issue. If no _id is sent return <code>'_id error'</code>, on success return <code>'deleted '+_id</code> and on fail return <code>'could not delete '+_id</code>.</li>
        <li>I can <strong>GET</strong> <code>/api/issues/{project}</code> for an <code>array</code> of all issues on that specific project with all the information for each issue as was returned when posted.</li>
        <li>I can filter my <strong>GET</strong> request by also passing along any field and value in the <code>query</code> (i.e. <code>/api/issues/{project}?open=false</code>). I can pass along as many fields/values as I want.</li>
        <li>All 11 functional tests are complete and passing.</li>
      </ol>
      
      <h3>Example usage:</h3>
      <code>GET /api/issues/{project}</code><br>
      <code>PUT /api/issues/{project}?open=true&amp;assigned_to=Joe</code>
      
      <h3>Example return:</h3>
      <span id="exampleReturn"><code>[{"_id": "5871dda29faedc3491ff93bb", "issue_title":"Fix error in posting data", "issue_text":"When we post data it has an error.", "created_on":"2017-01-08T06:35:14.240Z", "updated_on":"2017-01-08T06:35:14.240Z", "created_by":"Joe", "assigned_to":"Joe", "open":true, "status_text":"In QA"}, ...]</code></span>
      <hr>
      
      <h2>API:</h2>
      <form class="border">
        <h3>Open a project</h3>
        <p><code>GET /api/issues/:project</code></p>
        <input id="openProjectField" type="text" placeholder="Project" required="">
        <button id="openProjectButton">Open Project</button>
        <button id="openAllProjectsButton">Show all projects</button>
        <ol id="projectsList"></ol>
      </form>
      
      <hr>
      
      <h2>API Test:</h2>
      <form class="testForm" method="get" action="/apitest">
        <h3>Show all <i>apitest</i> issues:</h3>
        <p><code>GET /api/issues/apitest</code></p>
        <input type="submit" value="Show all issues">
      </form>
      
      <form id="submitIssueTest" class="testForm">
        <h3>Submit issue on <i>apitest</i>:</h3>
        <p><code>POST /api/issues/apitest</code></p>
        <input type="text" name="issue_title" placeholder="Title *" required=""><br>
        <textarea type="text" name="issue_text" placeholder="Text *" required=""></textarea><br>
        <input type="text" name="created_by" placeholder="Created by *" required=""><br>
        <input type="text" name="assigned_to" placeholder="Assigned to"><br>
        <input type="text" name="status_text" placeholder="Status text">
        <p>* Required Fields</p>
        <p class="status">Status: <span id="submitStatus"></span></p>
        <input type="submit" value="Submit issue">
      </form>
      
      <form id="updateIssueTest" class="testForm">
        <h3>Update issue on <i>apitest</i>:</h3>
        <p><code>PUT /api/issues/apitest</code></p>
        <input type="text" name="_id" placeholder="ID *" required=""><br>
        <input type="text" name="issue_title" placeholder="Title"><br>
        <textarea type="text" name="issue_text" placeholder="Text"></textarea><br>
        <input type="text" name="created_by" placeholder="Created by"><br>
        <input type="text" name="assigned_to" placeholder="Assigned to"><br>
        <input type="text" name="status_text" placeholder="Status text"><br>
        <label>
          <input type="checkbox" name="open" value="false">
          Check to close issue
        </label>
        <p>* Required Field</p>
        <p class="status">Status: <span id="updateStatus"></span></p>
        <input type="submit" value="Update issue">
      </form>
      
      <form id="deleteIssueTest" class="testForm">
        <h3>Delete issue on <i>apitest</i>:</h3>
        <p><code>DELETE /api/issues/apitest</code></p>
        <input type="text" name="_id" placeholder="ID" required=""><br><br>
        <p class="status">Status: <span id="deleteStatus"></span></p>
        <input type="submit" value="Delete issue">
      </form>
      
      <h3>API response:</h3>
      <p id="jsonResult"></p>
    </main>
    
    <footer class="container">
      <hr>
      <p>
        by <a href="https://github.com/Myrmidonut/fcc_infosec_issue_tracker" title="GitHub Repository" target="_blank">Frederik</a> | <a href="https://learn.freecodecamp.org/" title="Learn to code at freeCodeCamp" target="_blank">freeCodeCamp</a>
      </p>
    </footer>
    
    <script src="script-index.js"></script>
    
  </body>
</html>