<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  
  <body>
    
    <header class="container">
      <h1 id="projectTitle"></h1>
    </header>
    
    <main class="container">
      <form id="newIssue" method="post" action="/api/">
        <h3>Submit a new issue:</h3>
        <p><code>POST /api/issues/apitest</code></p>
        <input type="text" name="issue_title" placeholder="Title *" required=""><br>
        <textarea type="text" name="issue_text" placeholder="Text *" required=""></textarea><br>
        <input type="text" name="created_by" placeholder="Created by *" required=""><br>
        <input type="text" name="assigned_to" placeholder="Assigned to"><br>
        <input type="text" name="status_text" placeholder="Status text"><br>
        <p>* Required Fields</p>
        <button type="submit">Submit Issue</button><br><br>
      </form>
      
      <h3>Back to <a href="/">Main Page</a></h3>
      
      <hr>
      
      <h2>Issues:</h2>
      <p><code>GET /api/issues/apitest</code></p>
      <div id="issueDisplay"></div>
    </main>

    <footer class="container">
      <hr>
      <p>
        by <a href="https://github.com/Myrmidonut/fcc_infosec_issue_tracker" title="GitHub Repository" target="_blank">Frederik</a> | <a href="https://learn.freecodecamp.org/" title="Learn to code at freeCodeCamp" target="_blank">freeCodeCamp</a>
      </p>
    </footer>
    
    <script src="script-issue.js"></script>
  </body>
</html>